text{
    font-size: 15px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
svg {
    margin: auto;
    min-width: 800px;
    display: flex;
}
rect{
    fill: yellowgreen;
}