.container {
    width: 820px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: none;
}
.item {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: x-large;
    border: white 0.2px solid;
}
.prime {
    background: #F35555;
}
.even {
    background: #5F9754;
}
.odd {
    background: #E4E44A;
}
p{
    text-align: center;
}