.card {
    margin: 5px;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 15px;
}
.img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.chip{
    background-color: lightseagreen;
    padding: 10px;
    color: white;
    border-radius: 5px;
    width: fit-content;
    margin-right: 5px;
}
.skills {
    display: flex;
    flex-wrap: wrap;
}
h2, h5, h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3 {
    color: gray;
    font-weight: lighter;
}
footer{
    margin-top: 30px;
    font-weight: lighter;
}